*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Start Header*/
header{
height: 60px;
width: 100%;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50px;
overflow: hidden;
}
header .point{
  display: flex;
  justify-content: center;
  gap: 5vw;
}
header .point a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: max(18px, 1vw);
}
.button button{
  height: 30px;
  width: 65px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
}
.button input{
  height: 30px;
  width: 200px;
}
.button input:focus{
  border: none;
  outline: none;
}



.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding-top:  ;

}
.container-one{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-one div{
  min-width: 150px;
  height: 200px;
  background-color: #f08804;
  text-align: center;
  color: black;
  margin: 10px;
}

.container-two{
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container-two div{
  height: 200px;
  min-width: 150px;
  background-color: rgb(235, 48, 135);
  text-align: center;
  color: black;
  border: 1px solid black;
  margin: 10px;
}


.container-three{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-three div{
  height: 200px;
  width: 150px;
  background-color: red;
  text-align: center;
  color: black;
  border: 1px solid black;
  margin: 10px;
}



.fa-amazon{
  
  font-size: 30px;
  color: #f08804;
  

  
}
footer{
  height: 420px;
  background: black ;
}
#logo{
  height: 271px;
  width: 330px;
  padding: 80px;
}
.image{
  display: inline-block;
  height: 52.425px;
  width: 230px;
  margin: 0 100px 10px 0;
}
.fa-facebook, .fa-youtube, .fa-instagram {
  color: orangered;
  height: 50px;
  width: 50px;
  background-color: #ffffff22;
  justify-content: center;

}



