*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.firstColorType, .SecondColorType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.displayColor, .SecondisplayColor{
    height: 30vh;
    width: 30vw;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.displayCode, .SecondisplayCode{
    height: 50px;
    width: 30vw;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons, .buttonSecond{
    height: 50px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons button, .buttonSecond button{
    height: 50px;
    width: 80px;
    background-color: black;
    color: #fff;
    border: none;
}